<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - weather data api</title>
</head>
<body>
  <h1>Two api's</h1>

  <h2>Dictionary word explain api</h2>
  <p>URL format: http://127.0.0.1:5001/api/v0/word</p>
  <p>URL example: http://127.0.0.1:5001/api/v0/sun</p>

  <h2>weather data api</h2>
  <p>URL format: http://127.0.0.1:5001/api/v1/station/date</p>
  <p>URL example: http://127.0.0.1:5001/api/v1/11/20001025</p>
  <section 
    style="overflow: auto; height: 250px; width: max-content;"
  >
    {{data|safe}}
  </section>
</body>
</html>